.iw-milestone {
  margin-bottom: 80px;
  &-container {
    position: relative;
  }

  &-bg-image {
    width: 100%;
    height: auto;
    object-fit: contain;
    z-index: 0;
  }

  .iw-section-title {
    position: absolute;
    top: 7.55vw;
    width: 100%;
    margin-bottom: 0;
    z-index: 4;
  }

  &-content {
    bottom: 0px;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    @media (max-width: 1199px) {
      position: absolute;
      margin-top: -500px;
    }
    @media (max-width: 991px) {
      margin-top: -350px;
    }
    @media (max-width: 723px) {
      margin-top: -300px;
    }
    @media (max-width: 576px) {
      margin-top: -200px;
    }
    @media (max-width: 500px) {
      margin-top: -100px;
    }
  }

  &-core {
    position: relative;
    z-index: 1;
    width: 35vw;
    height: auto;

    &-bg {
      position: absolute;
      top: 4vw;
      width: 100%;
      left: 0;
      opacity: 0.6;
    }

    &-soldier {
      display: none;
    }
  }

  &-actor {
    &-1 {
      position: absolute;
      bottom: -1.98vw;
      left: 0;
      z-index: 2;
      width: 14.68vw;
      height: auto;
    }

    &-2 {
      position: absolute;
      bottom: -2.44vw;
      right: -3.125vw;
      z-index: 2;
      width: 17.77vw;
      height: auto;
    }
  }

  &-box {
    position: absolute;
    z-index: 2;

    &-content {
      position: relative;
      img {
        width: 10.83vw;
        height: auto;
      }
      .box-text {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h3 {
          font-size: 60px;
          font-weight: 600;
          line-height: normal;
          letter-spacing: -0.01em;
          text-align: left;

          color: #dd7041;
          margin: 0;

          @media (max-width: 767px) {
            font-size: 24px;
            font-weight: 600;
            line-height: normal;
            letter-spacing: -0.01em;
            text-align: left;
          }
        }

        span {
          font-size: 20px;
          font-weight: 700;
          line-height: normal;
          text-align: center;
          display: block;
          width: 100%;

          @media (max-width: 1024px) {
            font-size: 16px;
            font-weight: 700;
            line-height: normal;
            text-align: center;
          }

          @media (max-width: 767px) {
            font-size: 10px;
            font-weight: 700;
            line-height: normal;
            text-align: center;
          }
        }
      }
      .vector {
        position: absolute;
        width: 10.36vw;
        height: auto;
      }
    }

    &.box-1 {
      left: -9.73vw;
      bottom: 23.8vw;

      .vector {
        right: -100%;
        top: 40px;
      }
    }

    &.box-2 {
      left: -16.61vw;
      bottom: 5.1vw;

      .vector {
        right: calc(-100% - 5px);
        bottom: 40px;
      }
    }

    &.box-3 {
      right: -11.82vw;
      bottom: 23.8vw;

      .vector {
        right: 100%;
        top: 40px;
      }
    }

    &.box-4 {
      right: -17.65vw;
      bottom: 5.1vw;

      .vector {
        left: calc(-100% - 5px);
        bottom: 40px;
      }
    }
  }

  @media (max-width: 1024px) {
    &-box {
      &-content img {
        width: 20.45vw;
        height: auto;
      }

      &.box-1 {
        bottom: unset;
        top: 30vw;
        left: -6vw;

        .vector {
          width: 18.4vw;
        }
      }

      &.box-3 {
        bottom: unset;
        top: 24vw;
        right: -4vw;
        .vector {
          width: 17.5vw;
        }
      }

      &.box-2 {
        bottom: unset;
        top: 72.36vw;
        left: -10vw;
        .vector {
          width: 18.7vw;
        }
      }

      &.box-4 {
        bottom: unset;
        top: 64.1vw;
        right: -9.7vw;
        .vector {
          width: 18.73vw;
        }
      }
    }
    &-core {
      width: 74.77vw;

      &-bg {
        position: absolute;
        top: 10vw;
        width: 42.72vw;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0.9;
      }

      &-soldier {
        display: block;
        position: absolute;
        width: 32.5vw;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
      }
    }

    &-actor {
      &-1 {
        bottom: -12vw;
        width: 35.9vw;
      }

      &-2 {
        bottom: -9vw;
        width: 43.86vw;
      }
    }
  }
}
