.iw-news {
  padding-top: 88px;
  overflow: hidden;
  background-image: url(../images/background/news.png);
  background-size: cover;
  @media (max-width: 767px) {
    padding-top: 70px;
    overflow: hidden;
  }
  .iw-section-title {
    margin-bottom: 40px;
    white-space: nowrap;
    @media (max-width: 767px) {
      margin-bottom: 20px;
    }
  }
  .iw-news-slide {
    .slide-item {
      margin: 0 15px;
      @media (max-width: 767px) {
        margin: 0;
      }
      .image {
        display: block;
        height: 300px;
        overflow: hidden;
        @media (max-width: 767px) {
          height: 250px;
        }
        &:hover {
          img {
            transform: scale(1.05);
          }
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transform-origin: center;
          transition: all ease-in-out 0.3s;
        }
      }
      .info {
        padding: 23px 30px 20px 30px;
        background: #4c9be833;
        @media (max-width: 767px) {
          padding: 12px 20px;
        }
        .tags {
          margin-bottom: 10px;
          font-weight: 400;
          font-size: 20px;
          line-height: 109.19%;
          color: #46b0ee;
        }
        a {
          text-decoration: none;
          transition: all ease-in-out 0.3s;
          color: #ffffff;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          height: calc(1.091 * 2 * 24px);
          &:hover {
            color: #46b0ee;
          }
          h3 {
            font-weight: 600;
            line-height: 109.19%;
            font-size: 24px;
            margin: 0;
          }
        }
      }
    }

    @media (max-width: 1024px) {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    @media (max-width: 767px) {
      gap: 27px;
    }
  }
}
