.iw-audit {
    padding-top: 84px;
    overflow: hidden;
    text-align: center;
    background-image: url(../images/background/audit.png);
    background-size: cover;
    .iw-section-title {
      margin-bottom: 56px;
    }
}