.iw-infinity-war {
  position: relative;
  background-image: url(../images/background/about-infinity-war.png);
  background-size: 100% 100%;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/book.svg);
    background-position: bottom center;
    background-repeat: no-repeat;
    mix-blend-mode: screen;
  }

  @media (max-width: 475px) {
    background-image: url(../images/background/about-infinity-war-bg.png);
    background-size: cover;
    z-index: 3;
    &::after {
      background-image: url(../images/book_mb.png);
    }
  }
  .iw-section-title {
    padding-top: 34px;
    white-space: nowrap;
    margin-bottom: 78px;

    @media (max-width: 1024px) {
      margin-bottom: 40px;
    }

    @media (max-width: 475px) {
      margin-bottom: 20px;
    }
  }
  .body {
    display: flex;
    align-items: flex-start;
    position: relative;
    z-index: 2;
    .actor {
      width: 24.32vw;
      margin-top: -13.5%;
      margin-bottom: -32.35%;
      margin-right: -3vw;
    }

    @media (max-width: 1024px) {
      align-items: center;
      justify-content: space-between;
      
      .actor {
        width: 31.6vw;
        margin: 0;
        margin-left: -3vw;
        margin-bottom: 63px;
      }
    }

    @media (max-width: 475px) {
      .actor {
        margin: 0;
        margin-bottom: 63px;
      }
    }
  }
  .content {
    width: 903px;
    max-width: 100%;
    margin-bottom: 63px;
    font-weight: 300;
    font-size: 25px;
    line-height: 32px;
    color: #ffffff;
    padding: 10px 29px 28px 29px;

    @media (max-width: 1024px) {
      width: 62.27vw;
      padding: 0;
      max-height: 48vw;
      overflow-y: scroll;
    }

    @media (max-width: 475px) {
      font-size: 13px;
      font-weight: 300;
      line-height: 13.61px;
      text-align: justify;
      padding-right: 20px;
    }
  }
  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding-bottom: 143px;

    @media (max-width: 475px) {
      gap: 12px;

      a {
        width: 50%;
      }
    }
  }
  .iw-btn.btn.btn-warning::before,
  .iw-btn.btn.btn-warning::after {
    background-color: #cd3e00;
  }
  .iw-btn.btn-warning:hover {
    color: #cd3e00;
  }
}
