.iw-roadmap {
  padding-top: 88px;
  overflow: hidden;
  .iw-section-title {
    margin-bottom: 0px;
  }
  .inner {
    position: relative;
  }
  .item {
    position: absolute;
    &-wrap {
      position: relative;
    }
    > img {
      filter: drop-shadow(0px 0px 34px #00d8ff);
    }
    .info {
      position: absolute;
      padding: 20px 10px;
      background: #0012b56e;
      .link{
        z-index: 2;
      }
      .title {
        padding: 0px 0px 11px;
        border-bottom: 1px solid #46b0ee;
        font-weight: 700;
        font-size: 30px;
        line-height: 35px;
        text-transform: uppercase;
        color: #46b0ee;
        margin-bottom: 10px;
      }
      ul {
        list-style: none;
        padding-left: 10px;
        margin-bottom: 0;
        li {
          position: relative;
          padding-left: 28px;
          font-weight: 400;
          font-size: 20px;
          line-height: 133%;
          letter-spacing: -0.03em;
          color: #ffffff;
          &::before {
            content: '';
            position: absolute;
            width: 13px;
            height: 15px;
            background-image: url(../images/icons/check.svg);
            background-size: cover;
            top: 5px;
            left: 0;
          }
        }
      }
    }
  }
  .item-1 {
    top: 9.27vw;
    left: 11.61vw;
    .info {
      width: 25.93vw;
      right: -28.8vw;
      top: 2vw;
      .link {
        position: absolute;
        top: -11px;
        left: 0;
        transform: translateX(-100%);
      }
    }
  }
  .item-2 {
    top: 27.07vw;
    right: 3.8vw;
    .info {
      width: 26.92vw;
      left: -26.5vw;
      top: 8.3vw;
      .link {
        position: absolute;
        top: 35px;
        left: calc(100% - 18px);
        transform: translateY(-100%);
      }
    }
  }
  .item-3 {
    left: 8.69vw;
    top: 45.2vw;
    .info {
      right: -27vw;
      top: -3.5vw;
      width: 25.93vw;
      .link {
        position: absolute;
        top: 32px;
        left: 0;
        transform: translateX(-100%);
      }
    }
  }

  .item-4 {
    bottom: 32.55vw;
    right: 6.71vw;

    .info {
      left: -26.5vw;
      top: 4.5vw;
      width: 25.67vw;
      .link {
        position: absolute;
        top: -55px;
        right: -130px;
      }
    }
  }

  .item-5 {
    bottom: 14vw;
    left: 2.5vw;

    .info {
      right: -24vw;
      top: -12vw;
      width: 25.93vw;
      .link {
        position: absolute;
        top: 32px;
        left: 0;
        transform: translateX(-100%);
      }
    }
  }

  .item-6 {
    bottom: 5.5vw;
    left: 32.5vw;

    .info {
      right: -29vw;
      top: -3.5vw;
      width: 25.93vw;
      .link {
        position: absolute;
        top: 32px;
        left: 0;
        transform: translateX(-100%);
      }
    }
  }
}
