.iw-supportchains {
  margin-top: 80px;

  &-container {
    display: flex;
    justify-content: center;
  }

  &-wrap {
    width: 78.9vw;
    display: flex;
    align-items: center;
    gap: 48px;
  }

  &-list {
    display: flex;
    flex-direction: column;
    gap: 41px;
    width: 50%;
  }

  &-item {
    display: flex;
    align-items: center;
    gap: 38px;

    @media (max-width: 1600px) {
      gap: 28px;
    }
  }

  &-chainicon {
    padding: 10px;
    height: 199px;
    display: flex;
    min-width: 16.25vw;
    align-items: center;
    justify-content: center;
    border: 1px solid #00d8ff;

    img {
      max-width: 15.20vw;
      height: auto;
    }
  }

  &-chaincontent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 28px;

    p {
      margin: 0;
      font-size: 20px;
      font-weight: 400;
      line-height: 26.54px;
      text-align: justify;
    }

    @media (max-width: 1600px) {
      gap: 20px;
      p {
        font-size: 18px;
        line-height: normal;
      }
    }
  }

  &-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 35.16px;
    text-align: left;
  }

  &-spec {
    display: flex;
    flex-direction: column;
    gap: 40px;
    &-line {
      display: flex;
      align-items: center;
      gap: 23px;

      > div {
        width: calc(1 / 3) * 100%;
        display: flex;
        justify-content: center;
        span {
          font-size: 30px;
          font-weight: 700;
          line-height: 35.16px;
          text-align: center;
        }
      }

      .first-item {
        width: 241px;
        font-size: 30px;
        font-weight: 700;
        line-height: 35.16px;
        text-align: left;
        color: #46b0ee;
      }
    }
  }

  &-right {
    padding: 10px 32px;
    background-color: #388de01a;

    position: relative;
    overflow: hidden;
    clip-path: polygon(
      50px 0%,
      100% 0%,
      100% calc(100% - 54px),
      calc(100% - 50px) 100%,
      0% 100%,
      0% 54px
    );
    border: 1px solid #46b0ee;

    &::before {
      bottom: -48px;
      right: 0;
    }

    &::after {
      top: -48px;
      left: 0;
    }

    &::after,
    &::before {
      content: '';
      position: absolute;
      width: 1px;
      height: 200px;
      background-color: #46b0ee;
      transform: rotate(43deg);
    }

    &-header {
      display: flex;
      align-items: center;

      > div {
        width: calc(1 / 3) * 100%;
        display: flex;
        justify-content: center;
      }

      .first-item {
        width: 241px;
      }
    }
  }
}
