@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root,
[data-bs-theme='light'] {
  --bs-font-sans-serif: Roboto, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
}
[data-bs-theme='dark'] {
  --bs-body-color: #fff;
  --bs-body-color-rgb: 255, 255, 255;
  --bs-body-bg: #0a1f59;
  --bs-body-bg-rgb: 10, 31, 89;
}
$color-blue: #0348af;
$color-blue2: #46b0ee;
$color-white: #fff;
$color-highlight: #cd3e00;
$color-highlight2: #dd7041;
@mixin border($width: 14px, $height: 14px) {
  background: linear-gradient(var(--border-color), var(--border-color)) top left,
    linear-gradient(var(--border-color), var(--border-color)) top left,
    linear-gradient(var(--border-color), var(--border-color)) top right,
    linear-gradient(var(--border-color), var(--border-color)) top right,
    linear-gradient(var(--border-color), var(--border-color)) bottom left,
    linear-gradient(var(--border-color), var(--border-color)) bottom left,
    linear-gradient(var(--border-color), var(--border-color)) bottom right,
    linear-gradient(var(--border-color), var(--border-color)) bottom right;
  background-size: 1px $height, $width 1px;
  background-repeat: no-repeat;
  transition: all ease-in-out 0.3s;
}
* {
  scrollbar-width: thin;
}

.btn.btn-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 60px;
  position: relative;
  border: none !important;
  background-color: transparent !important;

  & * {
    position: relative;
    z-index: 2;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all ease-in-out 0.3s;
    background-color: #4e5fff;
    z-index: 1;
  }

  &::before {
    clip-path: polygon(
      0 0,
      100% 0,
      100% 18px,
      calc(100% - 7px) 26px,
      100% 23px,
      100% 100%,
      48px 100%,
      53px calc(100% - 6px),
      28px 100%,
      0 100%,
      0 1px,
      1px 1px,
      1px calc(100% - 1px),
      calc(100% - 1px) calc(100% - 1px),
      27px calc(100% - 1px),
      52px calc(100% - 7px),
      47px calc(100% - 1px),
      calc(100% - 1px) calc(100% - 1px),
      calc(100% - 1px) 22px,
      calc(100% - 8px) 25px,
      calc(100% - 1px) 17px,
      calc(100% - 1px) 1px,
      1px 1px
    );
  }

  &::after {
    clip-path: polygon(
      1px 1px,
      calc(100% - 1px) 1px,
      calc(100% - 1px) 17px,
      calc(100% - 8px) 25px,
      calc(100% - 1px) 22px,
      calc(100% - 1px) calc(100% - 1px),
      47px calc(100% - 1px),
      52px calc(100% - 7px),
      27px calc(100% - 1px),
      1px calc(100% - 1px)
    );
  }

  &:hover {
    &::after {
      display: none;
    }
  }
}
.iw-btn.btn.btn-warning {
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 60px;
  position: relative;
  border: none !important;
  background-color: transparent !important;
  height: 42px;
  & * {
    position: relative;
    z-index: 2;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all ease-in-out 0.3s;
    background-color: #dd7041;
    z-index: 1;
  }

  &::before {
    clip-path: polygon(
      0 0,
      100% 0,
      100% 18px,
      calc(100% - 7px) 26px,
      100% 23px,
      100% 100%,
      48px 100%,
      53px calc(100% - 6px),
      28px 100%,
      0 100%,
      0 1px,
      1px 1px,
      1px calc(100% - 1px),
      calc(100% - 1px) calc(100% - 1px),
      27px calc(100% - 1px),
      52px calc(100% - 7px),
      47px calc(100% - 1px),
      calc(100% - 1px) calc(100% - 1px),
      calc(100% - 1px) 22px,
      calc(100% - 8px) 25px,
      calc(100% - 1px) 17px,
      calc(100% - 1px) 1px,
      1px 1px
    );
  }

  &::after {
    clip-path: polygon(
      1px 1px,
      calc(100% - 1px) 1px,
      calc(100% - 1px) 17px,
      calc(100% - 8px) 25px,
      calc(100% - 1px) 22px,
      calc(100% - 1px) calc(100% - 1px),
      47px calc(100% - 1px),
      52px calc(100% - 7px),
      27px calc(100% - 1px),
      1px calc(100% - 1px)
    );
  }

  &:hover {
    color: #dd7041;
    &::after {
      display: none;
    }
  }
}

.btn.btn-outline-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: none;
  border-radius: 0;
  color: #fff;

  &::before,
  &::after,
  .decoration::after,
  .decoration::before {
    content: '';
    position: absolute;
    width: 45px;
    height: 15px;
    border: 2px solid #4e5fff;
  }

  .decoration::before {
    top: -2px;
    right: -2px;
    border-left: none;
    border-bottom: none;
  }

  .decoration::after {
    bottom: -2px;
    left: -2px;
    border-right: none;
    border-top: none;
  }

  &::before {
    top: -2px;
    left: -2px;
    border-right: none;
    border-bottom: none;
  }

  &::after {
    bottom: -2px;
    right: -2px;
    border-left: none;
    border-top: none;
  }
}

.iw-section-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 22px;
  margin-bottom: 71px;
  span {
    font-weight: 700;
    font-size: 48px;
    line-height: normal;
    text-transform: uppercase;
    color: $color-white;
    text-shadow: 0px 0px 25px $color-blue2;
  }

  @media (max-width: 1200px) {
    margin-bottom: 20px;
    gap: 10px;
    span {
      font-size: 30px;
      font-weight: 700;
      line-height: 45px;
      text-align: center;
    }

    img {
      height: 50px;
      width: auto;
    }
  }
  @media (max-width: 767px) {
    img {
      display: none;
    }
  }
}

.iw-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 20px 0 10px;
  z-index: 999;
  &-inner {
    display: flex;
    align-items: center;
    // gap: 67px;
    gap: 50px;
  }

  &-logo {
    img {
      height: 52px;
    }
  }
  &-menu {
    > ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      // gap: 67px;
      gap: 50px;
      > li {
        > a {
          font-weight: 400;
          font-size: 20px;
          line-height: 23px;
          color: $color-white;
          text-decoration: none;
          position: relative;
          transition: all ease-in-out 0.3s;
          white-space: nowrap;
          border-bottom: 4px solid transparent;
          padding-bottom: 4px;
          &:hover,
          &.active {
            color: $color-blue;
            border-color: $color-blue;
          }
        }
        .btn {
          font-weight: 400;
          font-size: 20px;
          line-height: 23px;
          padding: 0;
          outline: 0;
          box-shadow: none;
          border: 0;
          border-radius: 0;
          &.show {
            color: $color-blue;
            border-color: $color-blue;
          }
        }
        .dropdown-menu {
          border: 0;
          border-radius: 0;
          background-color: $color-blue;
          .dropdown-item {
            &:hover {
              background-color: $color-blue2;
            }
          }
        }
      }
    }

    .iw-header-logo {
      display: none;
    }
  }
  &-right {
    display: inline-flex;
    align-items: center;
    gap: 30px;
    margin-left: auto;

    .menu-toggle {
      display: none;
      cursor: pointer;
    }
  }
  &-language {
    .btn {
      outline: 0;
      box-shadow: none;
      display: inline-flex;
      align-items: center;
      gap: 10px;
      padding: 0;
      border: 0;
      background-color: transparent !important;
      font-weight: 400;
      font-size: 20px;
      line-height: 23px;
      color: #d0d2d6;
      img {
        width: 25px;
      }
    }
  }
  &-marketplace {
    padding: 11px 0 12px 21px;
    height: 42px;
    display: inline-flex;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: $color-white;
    position: relative;
    background-color: transparent !important;
    border-radius: 0;
    border: 0;
    box-shadow: none;
    &:hover {
      color: $color-highlight;
      &:after {
        background-color: transparent;
      }
    }
    * {
      position: relative;
      z-index: 2;
    }
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $color-highlight;
      transition: all ease-in-out 0.3s;
    }
    &::before {
      clip-path: polygon(
        0 0,
        100% 0,
        100% 18px,
        calc(100% - 7px) 26px,
        100% 23px,
        100% 100%,
        48px 100%,
        53px calc(100% - 6px),
        28px 100%,
        0 100%,
        0 1px,
        1px 1px,
        1px calc(100% - 1px),
        calc(100% - 1px) calc(100% - 1px),
        27px calc(100% - 1px),
        52px calc(100% - 7px),
        47px calc(100% - 1px),
        calc(100% - 1px) calc(100% - 1px),
        calc(100% - 1px) 22px,
        calc(100% - 8px) 25px,
        calc(100% - 1px) 17px,
        calc(100% - 1px) 1px,
        1px 1px
      );
    }
    &::after {
      clip-path: polygon(
        1px 1px,
        calc(100% - 1px) 1px,
        calc(100% - 1px) 17px,
        calc(100% - 8px) 25px,
        calc(100% - 1px) 22px,
        calc(100% - 1px) calc(100% - 1px),
        47px calc(100% - 1px),
        52px calc(100% - 7px),
        27px calc(100% - 1px),
        1px calc(100% - 1px)
      );
    }
    img {
      min-width: 100px;
      width: 100px;
      height: 100px;
      margin: -34px -21px 0 -10px;
    }
  }

  @media (max-width: 1440px) {
    &-inner {
      gap: 16px;
    }

    &-menu {
      ul {
        gap: 18px;
      }
    }
  }

  @media (max-width: 1199px) {
    &-inner {
      justify-content: space-between;
    }

    &-menu {
      position: absolute;
      top: 0;
      left: -100%;
      width: 100%;
      z-index: 999;
      height: 9999px;
      transition: all ease-in-out 0.5s;
      z-index: 99;
      .iw-header-logo {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-bottom: 20px;
      }
      ul {
        width: 233px;
        background-color: #1e263d;
        padding: 30px 0px 0 20px;
        flex-direction: column;
        height: 100%;
        align-items: start;
        gap: 17px;
        text-align: start;
        li {
          a {
            color: #eaecf0;
            font-size: 17.6px;
            font-weight: 500;
            line-height: 21.45px;
            text-align: left;
          }

          a.active {
            color: #46b0ee;
            border: none;
          }

          .dropdown {
            .btn.show {
              color: #46b0ee;
              margin-bottom: 10px;
            }
          }

          .dropdown-menu {
            background-color: #46b0ee;
          }
        }
      }
    }

    &-right {
      margin: 0;
      .menu-toggle {
        display: block;
        z-index: 100;
      }

      .iw-header-marketplace {
        display: none;
      }
    }
  }
}
.iw-banner {
  position: relative;
  &-inner {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 55vh;
    button {
      background-color: transparent;
      border: 0;
      padding: 0;
      margin-bottom: 6vh;
      position: relative;
      color: #46b0ee;
      &::after {
        content: '';
        transition: all ease-in-out 0.3s;
        width: 0;
        height: 0;
        border-top: 1.5vh solid transparent;
        border-left: 3vh solid #46b0ee;
        border-bottom: 1.5vh solid transparent;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-left: 0.75vh;
        animation: play-color-anim 3s infinite;
        @keyframes play-color-anim {
          0%,
          100% {
            border-left-color: #46b0ee;
          }
          50% {
            border-left-color: $color-highlight2;
          }
        }
      }
      svg {
        width: 11vh;
        height: 11vh;
        animation: play-anim 3s infinite;
      }

      @keyframes play-anim {
        0%,
        100% {
          transform: rotate(0);
          color: #46b0ee;
        }
        50% {
          transform: rotate(90deg);
          color: $color-highlight;
        }
      }
      .play {
        display: none;
      }
    }
    h1 {
      display: flex;
      justify-content: center;
      flex-direction: column;
      font-weight: 800;
      font-size: 94px;
      line-height: 110px;
      font-size: 9vh;
      line-height: 1.17;
      text-align: center;
      text-transform: uppercase;
      background: linear-gradient(180deg, #ffffff 0%, #7e7e7e 146.07%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
  }

  @media (max-width: 1920px) {
  }

  @media (max-width: 1199px) {
    &-inner {
      top: 46vh;
      button {
        width: 55px;
        height: 55px;
        margin-bottom: 16px;
        &::after {
          border-top: 7px solid transparent;
          border-left: 14px solid #46b0ee;
          border-bottom: 7px solid transparent;
          margin-left: 3px;
        }

        svg {
          width: 55px;
          height: 55px;
          animation: play-anim 3s infinite;
        }
      }

      h1 {
        span {
          font-size: 33px;
          font-weight: 800;
          line-height: 38.67px;
          letter-spacing: -0.03em;
          text-align: center;
        }
      }
    }
  }

  @media (max-width: 1024px) {
    &-inner {
      top: 28vh;
    }
  }

  @media (max-width: 991px) {
    &-inner {
      top: 24vh;
    }
  }

  @media (max-width: 475px) {
    margin-top: 100px;

    &-inner {
      top: 42vh;
    }

    .bg_mobile_behind {
      position: absolute;
      top: -100px;
      left: 0;
      z-index: -1;
      width: 100%;
    }

    .bg_mobile_shadow {
      position: absolute;
      top: 344px;
      z-index: 0;
      width: 100%;
    }
  }
}

.iw-about {
  margin-top: -200px;
  .quick-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-bottom: 42px;
    .btn.btn-primary {
      min-height: 58px;
    }

    .btn.btn-outline-primary {
      height: 58px;
      min-width: 177px;

      img {
        height: 40px;
        width: 40px;
        margin-right: 33px;
      }

      .social-name {
        font-size: 24px;
        font-weight: 600;
        line-height: 28.13px;
        text-align: left;
        color: #fff;

        position: relative;
        &::after {
          content: '';
          position: absolute;
          height: 19px;
          width: 1px;
          border: 1px solid #fff;
          background-color: #fff;
          bottom: 50%;
          left: -16px;
          transform: translateY(50%);
        }
      }

      &:hover {
        background-color: #4e5fff;
        &::before,
        &::after,
        .decoration::after,
        .decoration::before {
          display: none;
        }
      }
    }
  }

  .contract-address {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 43px;
    .addresses {
      display: flex;
      flex-direction: column;
      gap: 8px;
      z-index: 1;

      .item {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 14px;

        .item-header {
          display: flex;
          align-items: center;
          gap: 14px;
        }

        .divide {
          height: 19px;
          width: 1px;
          background-color: #fff;
        }

        .label {
          font-size: 16px;
          font-weight: 300;
          line-height: 18.75px;
          text-align: left;
          color: #fff;
        }

        .value {
          display: flex;
          align-items: center;
          gap: 26px;
          background-color: #0348af;
          padding: 10px 20px;

          font-size: 14px;
          font-weight: 300;
          line-height: 16.41px;
          text-align: left;

          button {
            background-color: transparent;
            border: none;
          }
        }

        .icon img {
          height: 48px;
          width: 48px;
        }
      }
    }

    .address-btns {
      display: flex;
      align-items: center;
      gap: 43px;

      .btn.btn-lg.btn-warning {
        min-height: 87.5px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: none;
        color: #fff;
        position: relative;
        min-width: 260px;

        font-size: 20px;
        font-weight: 600;
        line-height: 23.44px;
        text-align: center;

        & * {
          position: relative;
          z-index: 2;
        }

        &::before,
        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          transition: all ease-in-out 0.3s;
          background-color: #cd3e00;
          z-index: 1;
        }

        &::before {
          clip-path: polygon(
            0 0,
            100% 0,
            100% 18px,
            calc(100% - 7px) 26px,
            100% 23px,
            100% 100%,
            48px 100%,
            53px calc(100% - 6px),
            28px 100%,
            0 100%,
            0 1px,
            1px 1px,
            1px calc(100% - 1px),
            calc(100% - 1px) calc(100% - 1px),
            27px calc(100% - 1px),
            52px calc(100% - 7px),
            47px calc(100% - 1px),
            calc(100% - 1px) calc(100% - 1px),
            calc(100% - 1px) 22px,
            calc(100% - 8px) 25px,
            calc(100% - 1px) 17px,
            calc(100% - 1px) 1px,
            1px 1px
          );
        }

        &::after {
          clip-path: polygon(
            1px 1px,
            calc(100% - 1px) 1px,
            calc(100% - 1px) 17px,
            calc(100% - 8px) 25px,
            calc(100% - 1px) 22px,
            calc(100% - 1px) calc(100% - 1px),
            47px calc(100% - 1px),
            52px calc(100% - 7px),
            27px calc(100% - 1px),
            1px calc(100% - 1px)
          );
        }

        &:hover {
          color: #cd3e00;
          &::after {
            display: none;
          }
        }
      }

      .qr-code {
        z-index: 3;
      }

      .btn-download {
        display: none;
        height: 60px;
        width: 50%;

        img {
          height: 40px;
          width: 40px;
          margin-right: 33px;
        }

        .text {
          font-size: 16px;
          font-weight: 600;
          line-height: 18.75px;
          text-align: left;

          color: #fff;

          position: relative;
          &::after {
            content: '';
            position: absolute;
            height: 19px;
            width: 1px;
            border: 1px solid #fff;
            background-color: #fff;
            bottom: 50%;
            left: -16px;
            transform: translateY(50%);
          }
        }
      }
    }
  }

  .cta-links {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 26px;

    .item {
      z-index: 2;
      span {
        display: none;
      }
    }

    .more {
      display: flex;
      flex-direction: column;
      gap: 7px;
      .btn.btn-primary {
        height: 49px;
      }
    }
  }

  @media (max-width: 1920px) {
    margin-top: -300px;
  }

  @media (max-width: 1440px) {
    margin-top: -200px;
  }

  @media (max-width: 1199px) {
    margin-top: -100px;

    .quick-links {
      gap: 10px;
      margin-bottom: 17px;
      .btn.btn-primary {
        width: 50%;
        padding: 0px;
      }

      .btn.btn-outline-primary {
        display: none;
      }
    }

    .contract-address {
      margin-bottom: 17px;
      flex-direction: column-reverse;
      gap: 17px;

      .address-btns {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 13px;
        z-index: 2;

        .btn.btn-lg.btn-warning {
          // height: ;
          min-height: 60px;
          min-width: unset;
          width: 50%;
        }

        .qr-code {
          display: none;
        }

        .btn-download {
          display: flex;
        }
      }
    }
  }

  @media (max-width: 1024px) {
    margin-top: -150px;
  }

  @media (max-width: 991px) {
    margin-top: -100px;
    .cta-links {
      align-items: center;
      gap: 24px;
      .item {
        max-width: 300px;
        img {
          width: 100%;
        }
      }
      .more {
        display: none;
      }
    }
  }

  @media (max-width: 475px) {
    .contract-address {
      .addresses {
        display: flex;
        flex-direction: column;
        gap: 11px;
        width: 100%;

        .item {
          flex-direction: column;
          .item-header {
            width: 100%;
            gap: 3px;
            display: flex;
            justify-content: center;

            .icon img {
              height: 40px;
              width: 40px;
            }
            .label {
              font-size: 14px;
              font-weight: 300;
              line-height: 16.41px;
              text-align: left;
            }
          }

          .value {
            gap: 10px;
            padding: 10px;
            width: 100%;
            justify-content: space-between;
            span {
              max-width: 260px;
              word-wrap: break-word;
              overflow-wrap: break-word;

              font-size: 12px;
              font-weight: 300;
              line-height: 14.06px;
              text-align: left;
            }
            button {
              padding: 0;
            }

            .divide {
              height: 40px;
            }
          }
        }
      }
    }

    .cta-links {
      align-items: center;
      flex-direction: column;
      gap: 0;
    }
  }
}

.iw-top-news {
  margin-bottom: 105px;
  &-main {
    position: relative;
  }

  &-frame {
    position: relative;
  }
  &-content {
    padding: 16px 24px;
    position: relative;
    overflow: hidden;
    clip-path: polygon(
      50px 0%,
      100% 0%,
      100% calc(100% - 54px),
      calc(100% - 50px) 100%,
      0% 100%,
      0% 54px
    );
    border: 1px solid #46b0ee;
    &::before,
    &:after {
      content: '';
      position: absolute;
      width: 1px;
      height: 200px;
      background-color: #46b0ee;
      transform: rotate(43deg);
    }
    &::before {
      bottom: -48px;
      right: 0;
    }

    &::after {
      top: -48px;
      left: 0;
    }
    &-left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .news-frame {
        width: 100%;
        height: auto;
      }

      .news-image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 97%;
        height: auto;
        clip-path: polygon(
          5% 0,
          95% 0,
          100% 10%,
          100% 90%,
          95% 100%,
          5% 100%,
          0 90%,
          0 10%
        );
        z-index: -1;
      }

      .iw-news-slider {
        margin-top: 5px;
        margin-bottom: 0;
        max-width: 100%;
        width: 520px;
        .slick-prev,
        .slick-next {
          height: 25.44px;
          width: 20.23px;
        }
        .slick-prev:before {
          position: absolute;
          content: '';
          background-image: url(/assets/images/slider-pre.png);
          background-size: cover;
          height: 100%;
          width: 100%;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          opacity: 1;
          cursor: pointer;
        }

        .slick-next:before {
          position: absolute;
          content: '';
          background-image: url(/assets/images/slider-next.png);
          background-size: cover;
          height: 100%;
          width: 100%;
          top: 50%;
          right: 5px;
          transform: translateY(-50%);
          opacity: 1;
          cursor: pointer;
        }

        .slick-dots {
          display: none;
        }
      }
    }

    &-right {
      .tabs {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 16px;
        cursor: pointer;

        .tab {
          position: relative;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          font-weight: 400;
          font-size: 20px;
          line-height: 23px;
          color: #ffffff;
          background-color: transparent;
          border: 0;
          padding: 3px 3px 3px 4px;
          width: calc(1 / 3) * 100%;
          &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #46b0ee;
            clip-path: polygon(
              10px 0,
              calc(100% - 10px) 0,
              100% 10px,
              100% calc(100% - 10px),
              calc(100% - 10px) 100%,
              10px 100%,
              0 calc(100% - 10px),
              0 10px,
              1px 10px,
              1px calc(100% - 11px),
              11px calc(100% - 1px),
              calc(100% - 10px) calc(100% - 1px),
              calc(100% - 1px) calc(100% - 10px),
              calc(100% - 1px) 10px,
              calc(100% - 10px) 1px,
              11px 1px,
              1px 11px,
              0px 10px
            );
          }
          &.warning {
            span {
              background-color: rgba($color: #dd7041, $alpha: 0.9);
            }
          }
          span {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            padding: 0.73vw 0px;
            position: relative;
            width: 100%;
            z-index: 2;
            background-color: #0012b56e;
            clip-path: polygon(
              8px 0,
              calc(100% - 8px) 0,
              100% 8px,
              100% calc(100% - 8px),
              calc(100% - 8px) 100%,
              8px 100%,
              0 calc(100% - 8px),
              0 8px,
              1px 8px
            );
            &::before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-color: #46b0ee;
              clip-path: polygon(
                8px 0,
                calc(100% - 8px) 0,
                100% 8px,
                100% calc(100% - 8px),
                calc(100% - 8px) 100%,
                8px 100%,
                0 calc(100% - 8px),
                0 8px,
                1px 8px,
                1px calc(100% - 9px),
                9px calc(100% - 1px),
                calc(100% - 8px) calc(100% - 1px),
                calc(100% - 1px) calc(100% - 8px),
                calc(100% - 1px) 8px,
                calc(100% - 8px) 1px,
                9px 1px,
                1px 9px,
                0px 8px
              );
            }
          }

          #news_badge {
            position: absolute;
            top: -10px;
            right: 0px;
            z-index: 3;
          }

          &:hover {
            span {
              background-color: rgba($color: #dd7041, $alpha: 0.9);
            }
          }
        }
      }

      .news-list {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 16px;

        .news-item {
          display: flex;
          align-items: center;
          gap: 16px;
          cursor: pointer;

          &-content {
            display: flex;
            flex-direction: column;
            gap: 12px;
            width: 100%;
            padding: 10px;

            h3 {
              font-size: 16px;
              font-weight: 700;
              line-height: 18.75px;
              text-align: left;
              margin: 0;
            }

            &-desc {
              display: flex;
              align-items: center;
              justify-content: space-between;
              span {
                font-size: 17px;
                font-weight: 300;
                line-height: 19.92px;
                text-align: left;
                color: #969696;
              }

              .more {
                text-decoration: none;
                font-size: 16px;
                font-weight: 300;
                line-height: 18.75px;
                text-align: left;
                color: #46b0ee;
              }
            }
          }

          &.active {
            background: rgba(13, 13, 13, 0.5);

            .news-item-content h3 {
              color: #dd7041;
            }
          }
        }
      }

      .see-more {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3px;

        span {
          font-size: 20px;
          font-weight: 400;
          line-height: 23.44px;
          text-align: center;
          color: #46b0ee;
        }
      }
    }
  }

  &-addition {
    position: absolute;
    left: 50%;
    bottom: -115px;
    transform: translateX(-50%);
    width: 100%;
    .addition-wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 25px;
      position: relative;
      width: 100%;

      &::before {
        content: '';
        position: absolute;
        top: -30px;
        left: 2.55%;
        width: 18px;
        height: 18px;
        background-color: #46b0ee;
        border-radius: 50%;
      }

      &::after {
        content: '';
        position: absolute;
        top: -50px;
        right: 1.85%;
        width: 18px;
        height: 18px;
        background-color: #46b0ee;
        border-radius: 50%;
      }
    }
    &-item {
      height: 95px;
      width: 20.68%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      position: relative;

      img {
        width: 91px;
        height: 91px;
      }

      img,
      span {
        z-index: 1;
      }

      span {
        font-size: 18px;
        font-weight: 500;
        line-height: 21.09px;
        text-align: center;
        max-width: 103px;
      }

      .decoration {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        &-1 {
          position: relative;
          width: 100%;
          height: 100%;
          &::after {
            position: absolute;
            content: '';
            bottom: 0;
            right: 0;
            clip-path: polygon(100% 0, 0% 100%, 100% 100%);
            background-color: #cd3e00;
            height: 30px;
            width: 26px;
          }

          &::before {
            position: absolute;
            content: '';
            bottom: -1px;
            right: -1px;
            clip-path: polygon(
              30px 0%,
              100% 0%,
              100% calc(100% - 34px),
              calc(100% - 30px) 100%,
              0% 100%,
              0% 34px
            );
            background-color: #46b0ee;
            height: calc(100% + 2px);
            width: calc(100% + 2px);
            z-index: -1;
          }
        }

        &-2 {
          position: relative;
          width: 100%;
          height: 100%;

          &::before {
            position: absolute;
            content: '';
            bottom: 150%;
            right: -12.5px;
            height: 20px;
            width: 12.5px;
            background-color: transparent;
            border-top: 1px solid #46b0ee;
            border-right: 1px solid #46b0ee;
            transform: translateY(50%);
          }

          &::after {
            position: absolute;
            content: '';
            bottom: 150%;
            right: -25px;
            height: 20px;
            width: 12.5px;
            background-color: transparent;
            border-bottom: 1px solid #46b0ee;
            transform: translateY(50%);
          }
        }
      }

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #0012b56e;
        clip-path: polygon(
          30px 0%,
          100% 0%,
          100% calc(100% - 34px),
          calc(100% - 30px) 100%,
          0% 100%,
          0% 34px
        );
        z-index: 0;
      }

      &.active {
        &::before {
          background-color: #cd3e00;
        }

        .decoration {
          > * {
            &::after {
              background-color: #0012b56e;
            }
          }
        }
      }

      &:nth-child(1) {
        &::after {
          content: '';
          position: absolute;
          top: -15px;
          left: -11.94%;
          background-color: inherit;
          border-left: 1px solid #46b0ee;
          border-bottom: 1px solid #46b0ee;
          height: 75px;
          width: 11.94%;
        }
      }

      &:nth-child(4) {
        &::after {
          content: '';
          position: absolute;
          top: -30px;
          right: -15%;
          background-color: inherit;
          border-right: 1px solid #46b0ee;
          border-bottom: 1px solid #46b0ee;
          height: 95px;
          width: 15%;
        }

        .decoration {
          &-2 {
            display: none;
          }
        }
      }
    }
  }

  @media (max-width: 1024px) {
    margin-bottom: 215px;
    &-content {
      &-left {
        margin-bottom: 24px;
      }

      &-right {
        .tabs .tab #news_badge {
          position: absolute;
          top: -10px;
          right: 0px;
          width: 50px;
          height: auto;
          z-index: 3;
        }
      }
    }

    &-addition {
      bottom: -185px;
      .addition-wrap {
        flex-wrap: wrap;

        &::before {
          top: -35px;
          left: 14.3%;
          height: 10px;
          width: 10px;
        }

        &::after {
          top: -35px;
          right: 14.3%;
          height: 10px;
          width: 10px;
        }
      }
      &-item {
        height: 65px;
        width: calc(50% - 15px);
        img {
          width: 71px;
          height: auto;
        }
        .decoration {
          &-2 {
            display: none;
          }
        }

        &:nth-child(1) {
          &::after {
            border-bottom: none;
            height: 25px;
            top: -25px;
            left: 31.5%;
          }
        }
        &:nth-child(2) {
          &::after {
            content: '';
            position: absolute;
            height: 25px;
            top: -25px;
            right: 31.5%;
            background-color: inherit;
            border-right: 1px solid #46b0ee;
            width: 15%;
          }
        }
        &:nth-child(4) {
          &::after {
            display: none;
          }
        }
      }
    }
  }
}


.iw-footer {
  padding-top: 39px;
  .mobile-logo {
    display: none;
  }
  &-join {
    margin-bottom: 36px;
    &-title {
      margin-bottom: 19px;
      font-weight: 600;
      font-size: 35px;
      line-height: 41px;
      text-align: center;
    }
    &-links {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 27px;

      .social-group {
        display: flex;
        align-items: center;
        gap: 27px;
      }

      a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        min-width: 55px;
        width: 55px;
        height: 55px;
        --border-color: #0348af;
        @include border();
        position: relative;
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          transition: all ease-in-out 0.3s;
          background-color: #0012b56e;
          z-index: -1;
        }
        svg {
          max-width: 50px;
          max-height: 50px;
          object-fit: contain;
        }
        &:hover,
        &.active {
          --border-color: #cd3e00;
          &::before {
            background-color: #0d0d0d80;
          }
        }
      }
    }
  }
  &-form {
    margin-bottom: 78px;
    display: flex;
    gap: 15px;
    &-label {
      height: 29px;
      font-weight: 300;
      font-size: 25px;
      line-height: 29px;
      margin-bottom: 15px;
    }
    &-control {
      position: relative;
      display: flex;
      align-items: center;
      .form-control {
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        color: $color-white;
        --border-color: #0348af;
        @include border(93px, 14px);
        padding: 10px;
        height: 58px;
        background-color: #0c1c48a4 !important;
        border: 0 !important;
        box-shadow: none;
        border-radius: 0;
        &::placeholder {
          color: #969696;
        }
        &:focus {
          --border-color: #46b0ee;
        }
        & ~ button {
          background-color: transparent;
          cursor: pointer;
          border: 0;
          outline: 0;
          position: absolute;
          top: 50%;
          right: 10px;
          transform: translateY(-50%);
          &:hover {
            svg {
              transform: rotate(180deg);
            }
          }
          svg {
            transform-origin: center;
            transition: all ease-in-out 0.3s;
          }
        }
      }
      a {
        margin-top: 10px;
        font-weight: 300;
        font-size: 25px;
        line-height: 29px;
        color: $color-white;
        text-decoration: none;
        transition: all ease-in-out 0.3s;
        &:hover {
          color: $color-highlight2;
        }
      }
      .btn {
        border-radius: 0;
        border: 0;
        padding: 15px 60px;
        height: 58px;
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
        background-color: #0012b56e !important;
        --border-color: #0348af;
        @include border(40px, 14px);
        &:hover {
          background-color: #1e49c1a4 !important;
          --border-color: #4e5fff;
        }
      }
    }

    &-group {
      display: flex;
      align-items: end;
      &:nth-child(1),
      &:nth-child(2) {
        flex-direction: column;
        align-items: start;
      }
    }
  }
  &-menu {
    img {
      height: 117px;
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 9px;
      list-style: none;
      padding: 0;
      margin: 0;
      margin-bottom: 78px;
      li {
        height: 28px;
        a {
          font-weight: 400;
          font-size: 20px;
          line-height: 23px;
          color: $color-white;
          text-decoration: none;
          transition: all ease-in-out 0.3s;

          &:hover,
          .active {
            color: $color-highlight2;
          }
        }
      }
    }
  }
  &-copyright {
    padding: 20px 0;
    background-color: $color-blue;
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
    &-inner {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      svg {
        min-width: 24px;
        width: 24px;
        height: 24px;
      }
    }
  }

  @media (max-width: 1200px) {
    &-join {
      margin-bottom: 20px;

      .mobile-logo {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        img {
          width: 245px;
          height: auto;
        }
      }
      &-title {
        font-size: 35px;
        font-weight: 600;
        line-height: 41.02px;
        text-align: center;
      }
    }

    &-form {
      flex-direction: column;
      margin-bottom: 20px;

      &-group {
        &:last-of-type {
          display: flex;
          justify-content: center;
        }
      }

      &-label {
        margin-bottom: 0;
        font-size: 15px;
        font-weight: 300;
        line-height: 17.58px;
      }

      &-control {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        a {
          font-size: 15px;
          font-weight: 300;
          line-height: 17.58px;
        }
      }
    }

    &-menu {
      ul {
        margin-bottom: 20px;
      }

      ul li a {
        font-size: 16px;
        font-weight: 500;
        line-height: 21.09px;
        text-align: center;
      }
    }
  }

  @media (max-width: 475px) {
    &-join {
      margin-bottom: 20px;

      .mobile-logo {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        img {
          width: 245px;
          height: auto;
        }
      }
      &-title {
        font-size: 35px;
        font-weight: 600;
        line-height: 41.02px;
        text-align: center;
      }
      &-links {
        flex-direction: column;
        gap: 32px;
      }
    }

    &-form {
      flex-direction: column;
      margin-bottom: 20px;
      &-group {
        &:last-of-type {
          display: flex;
          justify-content: center;
        }
      }

      &-label {
        margin-bottom: 0;
        font-size: 15px;
        font-weight: 300;
        line-height: 17.58px;
      }

      &-control {
        a {
          font-size: 15px;
          font-weight: 300;
          line-height: 17.58px;
        }
      }
    }

    &-menu {
      ul {
        margin-bottom: 20px;
      }

      ul li a {
        font-size: 16px;
        font-weight: 500;
        line-height: 21.09px;
        text-align: center;
      }
    }
  }
}
@media (min-width: 1920px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
      max-width: 1598px;
  }
}
@import './button';
@import './slick';
@import './milestone';
@import './roadmap';
@import './audit';
@import './leadership';
@import './advisors';
@import './partners';
@import './news';
@import './media';
@import './faqs';
@import'./infinity-war';
@import './bruce';
@import './bruce-2';
@import './land';
@import './game-economy';
@import './token';
@import './supportchain';
@import './gameplay';