@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root,
[data-bs-theme=light] {
  --bs-font-sans-serif: Roboto, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

[data-bs-theme=dark] {
  --bs-body-color: #fff;
  --bs-body-color-rgb: 255, 255, 255;
  --bs-body-bg: #0a1f59;
  --bs-body-bg-rgb: 10, 31, 89;
}

* {
  scrollbar-width: thin;
}

.btn.btn-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 60px;
  position: relative;
  border: none !important;
  background-color: transparent !important;
}
.btn.btn-primary * {
  position: relative;
  z-index: 2;
}
.btn.btn-primary::before, .btn.btn-primary::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all ease-in-out 0.3s;
  background-color: #4e5fff;
  z-index: 1;
}
.btn.btn-primary::before {
  clip-path: polygon(0 0, 100% 0, 100% 18px, calc(100% - 7px) 26px, 100% 23px, 100% 100%, 48px 100%, 53px calc(100% - 6px), 28px 100%, 0 100%, 0 1px, 1px 1px, 1px calc(100% - 1px), calc(100% - 1px) calc(100% - 1px), 27px calc(100% - 1px), 52px calc(100% - 7px), 47px calc(100% - 1px), calc(100% - 1px) calc(100% - 1px), calc(100% - 1px) 22px, calc(100% - 8px) 25px, calc(100% - 1px) 17px, calc(100% - 1px) 1px, 1px 1px);
}
.btn.btn-primary::after {
  clip-path: polygon(1px 1px, calc(100% - 1px) 1px, calc(100% - 1px) 17px, calc(100% - 8px) 25px, calc(100% - 1px) 22px, calc(100% - 1px) calc(100% - 1px), 47px calc(100% - 1px), 52px calc(100% - 7px), 27px calc(100% - 1px), 1px calc(100% - 1px));
}
.btn.btn-primary:hover::after {
  display: none;
}

.iw-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0 10px;
  z-index: 999;
}
.iw-header-inner {
  display: flex;
  align-items: center;
  gap: 50px;
}
.iw-header-logo img {
  height: 52px;
}
.iw-header-menu > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 50px;
}
.iw-header-menu > ul > li > a {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #fff;
  text-decoration: none;
  position: relative;
  transition: all ease-in-out 0.3s;
  white-space: nowrap;
  border-bottom: 4px solid transparent;
  padding-bottom: 4px;
}
.iw-header-menu > ul > li > a:hover, .iw-header-menu > ul > li > a.active {
  color: #0348af;
  border-color: #0348af;
}
.iw-header-menu > ul > li .btn {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  padding: 0;
  outline: 0;
  box-shadow: none;
  border: 0;
  border-radius: 0;
}
.iw-header-menu > ul > li .btn.show {
  color: #0348af;
  border-color: #0348af;
}
.iw-header-menu > ul > li .dropdown-menu {
  border: 0;
  border-radius: 0;
  background-color: #0348af;
}
.iw-header-menu > ul > li .dropdown-menu .dropdown-item:hover {
  background-color: #46b0ee;
}
.iw-header-right {
  display: inline-flex;
  align-items: center;
  gap: 30px;
  margin-left: auto;
}
.iw-header-language .btn {
  outline: 0;
  box-shadow: none;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 0;
  border: 0;
  background-color: transparent !important;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #d0d2d6;
}
.iw-header-language .btn img {
  width: 25px;
}
.iw-header-marketplace {
  padding: 11px 0 12px 21px;
  height: 42px;
  display: inline-flex;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #fff;
  position: relative;
  background-color: transparent !important;
  border-radius: 0;
  border: 0;
  box-shadow: none;
}
.iw-header-marketplace:hover {
  color: #cd3e00;
}
.iw-header-marketplace:hover:after {
  background-color: transparent;
}
.iw-header-marketplace * {
  position: relative;
  z-index: 2;
}
.iw-header-marketplace::before, .iw-header-marketplace::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #cd3e00;
  transition: all ease-in-out 0.3s;
}
.iw-header-marketplace::before {
  clip-path: polygon(0 0, 100% 0, 100% 18px, calc(100% - 7px) 26px, 100% 23px, 100% 100%, 48px 100%, 53px calc(100% - 6px), 28px 100%, 0 100%, 0 1px, 1px 1px, 1px calc(100% - 1px), calc(100% - 1px) calc(100% - 1px), 27px calc(100% - 1px), 52px calc(100% - 7px), 47px calc(100% - 1px), calc(100% - 1px) calc(100% - 1px), calc(100% - 1px) 22px, calc(100% - 8px) 25px, calc(100% - 1px) 17px, calc(100% - 1px) 1px, 1px 1px);
}
.iw-header-marketplace::after {
  clip-path: polygon(1px 1px, calc(100% - 1px) 1px, calc(100% - 1px) 17px, calc(100% - 8px) 25px, calc(100% - 1px) 22px, calc(100% - 1px) calc(100% - 1px), 47px calc(100% - 1px), 52px calc(100% - 7px), 27px calc(100% - 1px), 1px calc(100% - 1px));
}
.iw-header-marketplace img {
  min-width: 100px;
  width: 100px;
  height: 100px;
  margin: -34px -21px 0 -10px;
}

.iw-banner {
  position: relative;
}
.iw-banner-inner {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 55vh;
}
.iw-banner-inner button {
  background-color: transparent;
  border: 0;
  padding: 0;
  margin-bottom: 6vh;
  position: relative;
  color: #46b0ee;
}
.iw-banner-inner button::after {
  content: "";
  transition: all ease-in-out 0.3s;
  width: 0;
  height: 0;
  border-top: 1.5vh solid transparent;
  border-left: 3vh solid #46b0ee;
  border-bottom: 1.5vh solid transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: 0.75vh;
  animation: play-color-anim 3s infinite;
}
@keyframes play-color-anim {
  0%, 100% {
    border-left-color: #46b0ee;
  }
  50% {
    border-left-color: #dd7041;
  }
}
.iw-banner-inner button svg {
  width: 11vh;
  height: 11vh;
  animation: play-anim 3s infinite;
}
@keyframes play-anim {
  0%, 100% {
    transform: rotate(0);
    color: #46b0ee;
  }
  50% {
    transform: rotate(90deg);
    color: #cd3e00;
  }
}
.iw-banner-inner button .play {
  display: none;
}
.iw-banner-inner h1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-weight: 800;
  font-size: 9vh;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(180deg, #ffffff 0%, #7e7e7e 146.07%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.iw-about {
  margin-top: -200px;
}
.iw-about .quick-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-bottom: 42px;
}
.iw-about .quick-links .btn.btn-primary {
  min-height: 58px;
}
.iw-about .quick-links .btn.btn-outline-primary {
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 177px;
  position: relative;
  border: none;
  border-radius: 0;
}
.iw-about .quick-links .btn.btn-outline-primary::before, .iw-about .quick-links .btn.btn-outline-primary::after,
.iw-about .quick-links .btn.btn-outline-primary .decoration::after,
.iw-about .quick-links .btn.btn-outline-primary .decoration::before {
  content: "";
  position: absolute;
  width: 45px;
  height: 15px;
  border: 2px solid #4e5fff;
}
.iw-about .quick-links .btn.btn-outline-primary .decoration::before {
  top: -2px;
  right: -2px;
  border-left: none;
  border-bottom: none;
}
.iw-about .quick-links .btn.btn-outline-primary .decoration::after {
  bottom: -2px;
  left: -2px;
  border-right: none;
  border-top: none;
}
.iw-about .quick-links .btn.btn-outline-primary::before {
  top: -2px;
  left: -2px;
  border-right: none;
  border-bottom: none;
}
.iw-about .quick-links .btn.btn-outline-primary::after {
  bottom: -2px;
  right: -2px;
  border-left: none;
  border-top: none;
}
.iw-about .quick-links .btn.btn-outline-primary img {
  height: 40px;
  width: 40px;
  margin-right: 33px;
}
.iw-about .quick-links .btn.btn-outline-primary .social-name {
  font-size: 24px;
  font-weight: 600;
  line-height: 28.13px;
  text-align: left;
  color: #fff;
  position: relative;
}
.iw-about .quick-links .btn.btn-outline-primary .social-name::after {
  content: "";
  position: absolute;
  height: 19px;
  width: 1px;
  border: 1px solid #fff;
  background-color: #fff;
  bottom: 50%;
  left: -16px;
  transform: translateY(50%);
}
.iw-about .quick-links .btn.btn-outline-primary:hover {
  background-color: #4e5fff;
}
.iw-about .quick-links .btn.btn-outline-primary:hover::before, .iw-about .quick-links .btn.btn-outline-primary:hover::after,
.iw-about .quick-links .btn.btn-outline-primary:hover .decoration::after,
.iw-about .quick-links .btn.btn-outline-primary:hover .decoration::before {
  display: none;
}
.iw-about .contract-address {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 43px;
}
.iw-about .contract-address .addresses {
  display: flex;
  flex-direction: column;
  gap: 8px;
  z-index: 1;
}
.iw-about .contract-address .addresses .item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
}
.iw-about .contract-address .addresses .item .divide {
  height: 19px;
  width: 1px;
  background-color: #fff;
}
.iw-about .contract-address .addresses .item .label {
  font-size: 16px;
  font-weight: 300;
  line-height: 18.75px;
  text-align: left;
  color: #fff;
}
.iw-about .contract-address .addresses .item .value {
  display: flex;
  align-items: center;
  gap: 26px;
  background-color: #0348af;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 300;
  line-height: 16.41px;
  text-align: left;
}
.iw-about .contract-address .addresses .item .value button {
  background-color: transparent;
  border: none;
}
.iw-about .contract-address .addresses .item .icon img {
  height: 48px;
  width: 48px;
}
.iw-about .contract-address .btn.btn-lg.btn-warning {
  min-height: 87.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  color: #fff;
  position: relative;
  min-width: 260px;
  font-size: 20px;
  font-weight: 600;
  line-height: 23.44px;
  text-align: center;
}
.iw-about .contract-address .btn.btn-lg.btn-warning * {
  position: relative;
  z-index: 2;
}
.iw-about .contract-address .btn.btn-lg.btn-warning::before, .iw-about .contract-address .btn.btn-lg.btn-warning::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all ease-in-out 0.3s;
  background-color: #cd3e00;
  z-index: 1;
}
.iw-about .contract-address .btn.btn-lg.btn-warning::before {
  clip-path: polygon(0 0, 100% 0, 100% 18px, calc(100% - 7px) 26px, 100% 23px, 100% 100%, 48px 100%, 53px calc(100% - 6px), 28px 100%, 0 100%, 0 1px, 1px 1px, 1px calc(100% - 1px), calc(100% - 1px) calc(100% - 1px), 27px calc(100% - 1px), 52px calc(100% - 7px), 47px calc(100% - 1px), calc(100% - 1px) calc(100% - 1px), calc(100% - 1px) 22px, calc(100% - 8px) 25px, calc(100% - 1px) 17px, calc(100% - 1px) 1px, 1px 1px);
}
.iw-about .contract-address .btn.btn-lg.btn-warning::after {
  clip-path: polygon(1px 1px, calc(100% - 1px) 1px, calc(100% - 1px) 17px, calc(100% - 8px) 25px, calc(100% - 1px) 22px, calc(100% - 1px) calc(100% - 1px), 47px calc(100% - 1px), 52px calc(100% - 7px), 27px calc(100% - 1px), 1px calc(100% - 1px));
}
.iw-about .contract-address .btn.btn-lg.btn-warning:hover {
  color: #cd3e00;
}
.iw-about .contract-address .btn.btn-lg.btn-warning:hover::after {
  display: none;
}
.iw-about .contract-address .qr-code {
  z-index: 3;
}
.iw-about .cta-links {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 26px;
}
.iw-about .cta-links .item {
  z-index: 2;
}
.iw-about .cta-links .item span {
  display: none;
}
.iw-about .cta-links .more {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.iw-about .cta-links .more .btn.btn-primary {
  height: 49px;
}
@media (max-width: 1920px) {
  .iw-about {
    margin-top: -300px;
  }
}
@media (max-width: 1440px) {
  .iw-about {
    margin-top: -200px;
  }
}
@media (max-width: 475px) {
  .iw-about {
    margin-top: 0px;
  }
  .iw-about .quick-links {
    flex-wrap: wrap;
  }
}

.iw-news {
  padding-top: 86px;
  padding-bottom: 98px;
}
.iw-news-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 22px;
  margin-bottom: 71px;
}
.iw-news-title span {
  font-weight: 700;
  font-size: 61px;
  line-height: 71px;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0px 0px 25px #46b0ee;
}
.iw-news-subtitle {
  font-weight: 700;
  font-size: 61px;
  line-height: 71px;
  text-align: center;
  margin-bottom: 60px;
}
.iw-news-content {
  padding: 90px 130px 130px;
  --border-color: #46b0ee;
  background: linear-gradient(var(--border-color), var(--border-color)) top left, linear-gradient(var(--border-color), var(--border-color)) top left, linear-gradient(var(--border-color), var(--border-color)) top right, linear-gradient(var(--border-color), var(--border-color)) top right, linear-gradient(var(--border-color), var(--border-color)) bottom left, linear-gradient(var(--border-color), var(--border-color)) bottom left, linear-gradient(var(--border-color), var(--border-color)) bottom right, linear-gradient(var(--border-color), var(--border-color)) bottom right;
  background-size: 1px 20vw, 20vw 1px;
  background-repeat: no-repeat;
  transition: all ease-in-out 0.3s;
  background-color: rgba(0, 18, 181, 0.431372549);
  margin-bottom: 98px;
}
.iw-news-content img {
  margin-bottom: 40px;
}
.iw-news-content p {
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;
  margin-bottom: 0;
}
.iw-news-other {
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
}
.iw-news-other-title {
  margin-bottom: 31px;
}
.iw-news-other ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.iw-news-other ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding-bottom: 6px;
  border-bottom: 1px solid #454647;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  min-height: 49px;
}
.iw-news-other ul li span {
  transition: all ease-in-out 0.3s;
}
.iw-news-other ul li a {
  color: #fff;
  display: inline-flex;
  align-items: center;
  gap: 27px;
  text-decoration: none;
  transition: all ease-in-out 0.3s;
}
.iw-news-other ul li a::before {
  content: "";
  transition: all ease-in-out 0.3s;
  width: 0;
  height: 0;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 18px solid #0348af;
  margin: 10px;
}
.iw-news-other ul li a:hover {
  color: #dd7041;
}
.iw-news-other ul li a:hover::before {
  border-bottom-color: #dd7041;
}
.iw-news-other ul li a:hover ~ span {
  color: #dd7041;
}

.iw-footer {
  padding-top: 39px;
}
.iw-footer-join {
  margin-bottom: 36px;
}
.iw-footer-join-title {
  margin-bottom: 19px;
  font-weight: 600;
  font-size: 35px;
  line-height: 41px;
  text-align: center;
}
.iw-footer-join-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 27px;
}
.iw-footer-join-links a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 55px;
  width: 55px;
  height: 55px;
  --border-color: #0348af;
  background: linear-gradient(var(--border-color), var(--border-color)) top left, linear-gradient(var(--border-color), var(--border-color)) top left, linear-gradient(var(--border-color), var(--border-color)) top right, linear-gradient(var(--border-color), var(--border-color)) top right, linear-gradient(var(--border-color), var(--border-color)) bottom left, linear-gradient(var(--border-color), var(--border-color)) bottom left, linear-gradient(var(--border-color), var(--border-color)) bottom right, linear-gradient(var(--border-color), var(--border-color)) bottom right;
  background-size: 1px 14px, 14px 1px;
  background-repeat: no-repeat;
  transition: all ease-in-out 0.3s;
  position: relative;
}
.iw-footer-join-links a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all ease-in-out 0.3s;
  background-color: rgba(0, 18, 181, 0.431372549);
  z-index: -1;
}
.iw-footer-join-links a svg {
  max-width: 50px;
  max-height: 50px;
  object-fit: contain;
}
.iw-footer-join-links a:hover, .iw-footer-join-links a.active {
  --border-color: #cd3e00;
}
.iw-footer-join-links a:hover::before, .iw-footer-join-links a.active::before {
  background-color: rgba(13, 13, 13, 0.5019607843);
}
.iw-footer-form {
  margin-bottom: 78px;
  display: flex;
  gap: 15px;
}
.iw-footer-form-label {
  height: 29px;
  font-weight: 300;
  font-size: 25px;
  line-height: 29px;
  margin-bottom: 15px;
}
.iw-footer-form-control {
  position: relative;
  display: flex;
  align-items: center;
}
.iw-footer-form-control .form-control {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #fff;
  --border-color: #0348af;
  background: linear-gradient(var(--border-color), var(--border-color)) top left, linear-gradient(var(--border-color), var(--border-color)) top left, linear-gradient(var(--border-color), var(--border-color)) top right, linear-gradient(var(--border-color), var(--border-color)) top right, linear-gradient(var(--border-color), var(--border-color)) bottom left, linear-gradient(var(--border-color), var(--border-color)) bottom left, linear-gradient(var(--border-color), var(--border-color)) bottom right, linear-gradient(var(--border-color), var(--border-color)) bottom right;
  background-size: 1px 14px, 93px 1px;
  background-repeat: no-repeat;
  transition: all ease-in-out 0.3s;
  padding: 10px;
  height: 58px;
  background-color: rgba(12, 28, 72, 0.6431372549) !important;
  border: 0 !important;
  box-shadow: none;
  border-radius: 0;
}
.iw-footer-form-control .form-control::placeholder {
  color: #969696;
}
.iw-footer-form-control .form-control:focus {
  --border-color: #46b0ee;
}
.iw-footer-form-control .form-control ~ button {
  background-color: transparent;
  cursor: pointer;
  border: 0;
  outline: 0;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
.iw-footer-form-control .form-control ~ button:hover svg {
  transform: rotate(180deg);
}
.iw-footer-form-control .form-control ~ button svg {
  transform-origin: center;
  transition: all ease-in-out 0.3s;
}
.iw-footer-form-control a {
  margin-top: 10px;
  font-weight: 300;
  font-size: 25px;
  line-height: 29px;
  color: #fff;
  text-decoration: none;
  transition: all ease-in-out 0.3s;
}
.iw-footer-form-control a:hover {
  color: #dd7041;
}
.iw-footer-form-control .btn {
  border-radius: 0;
  border: 0;
  padding: 15px 60px;
  height: 58px;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  background-color: rgba(0, 18, 181, 0.431372549) !important;
  --border-color: #0348af;
  background: linear-gradient(var(--border-color), var(--border-color)) top left, linear-gradient(var(--border-color), var(--border-color)) top left, linear-gradient(var(--border-color), var(--border-color)) top right, linear-gradient(var(--border-color), var(--border-color)) top right, linear-gradient(var(--border-color), var(--border-color)) bottom left, linear-gradient(var(--border-color), var(--border-color)) bottom left, linear-gradient(var(--border-color), var(--border-color)) bottom right, linear-gradient(var(--border-color), var(--border-color)) bottom right;
  background-size: 1px 14px, 40px 1px;
  background-repeat: no-repeat;
  transition: all ease-in-out 0.3s;
}
.iw-footer-form-control .btn:hover {
  background-color: rgba(30, 73, 193, 0.6431372549) !important;
  --border-color: #4e5fff;
}
.iw-footer-menu img {
  height: 117px;
}
.iw-footer-menu ul {
  display: flex;
  flex-direction: column;
  gap: 9px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 78px;
}
.iw-footer-menu ul li {
  height: 28px;
}
.iw-footer-menu ul li a {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #fff;
  text-decoration: none;
  transition: all ease-in-out 0.3s;
}
.iw-footer-menu ul li a:hover,
.iw-footer-menu ul li a .active {
  color: #dd7041;
}
.iw-footer-copyright {
  padding: 20px 0;
  background-color: #0348af;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
}
.iw-footer-copyright-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.iw-footer-copyright-inner svg {
  min-width: 24px;
  width: 24px;
  height: 24px;
}

/*# sourceMappingURL=style.css.map */
